.card {
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 49px;
    background-color: var(--white);
    width: 403px;
    height: 500px;
    margin: 16px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
  
  .header {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--teal);
  }
  
  .description {
    font-size: 16px;
    font-weight: 300;
    color: gray;
  }
  
  .donateBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--teal);
    border: 1px solid;
    border-radius: 15px;
    border-color: var(--teal);
    font-size: 18px;
    transition: background-color 0.3s ease; 
    padding: 11px 20px 11px 20px;
  }

  .donateBtn:hover{
    background-color: var(--teal);
    color: var(--white);
  }