.container {
    margin: 0;
    background-color: var(--white);
    width: auto;
    border: 0;
    height: 9.063rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 45px;
}

.resources {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
}

.signBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    background-color: var(--teal);
}